body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  padding-bottom: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #333;
}

#affirmationForm {
  margin-bottom: 20px;
}

#affirmationInput {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #a13295;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #a13295;
}

#affirmationList {
  list-style: none;
  padding: 0;
}

#affirmationList li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 12px;
}

.dropdown-content label {
  display: block;
}

.dropdown-content input {
  margin-right: 10px;
}

.dropdown.active .dropdown-content {
  display: block;
}

.dropdown-btn {
  padding: 10px;
  background-color: #a13295;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.custom-select-btn {
  padding: 8px;
  border: none;
  background-color: #a13295;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.custom-select-btn:hover {
  background-color: #a13295;
}
